###> CONFIG SERVER <###
PORT=
###> CONFIG SERVER <###


###> DB CONFIG REDIS <###
REDIS_DB_URL=
###> DB CONFIG REDIS <###

###> DB CONFIG MONGO <###
MONGO_DB_URL=
###> DB CONFIG MONGO <###

###>PASSWORD EMAIL <###
PASSWORD_EMAIL= 
###>PASSWORD EMAIL <###

###>PASSWORD SECRET <###
PASSWORD_EMAIL=
###>PASSWORD SECRET <###